<div class = "container">
<div class="card-deck">
  <div class = "row">
    <div class ="col" style="margin-top: 2%; margin-left:2%">
    <div class="card">
      <img class="card-img-top" src="http://placeimg.com/200/200/tech" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">supporting text</p>
        <p class="card-text"><small class="text-muted">small text</small></p>
      </div>
    </div>
  </div>
    <div class="card" style="margin-top: 2%;">
      <img class="card-img-top" src="http://placeimg.com/200/200/tech" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">supporting text</p>
        <p class="card-text"><small class="text-muted">small text</small></p>
      </div>
    </div>
    <div class="card" style="margin-top: 2%; margin-right:2%">
      <img class="card-img-top" src="http://placeimg.com/200/200/tech" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">supporting text</p>
        <p class="card-text"><small class="text-muted">small text</small></p>
      </div>
    </div>
  </div>

  <div class = "row">
      <div class ="col" style="margin-top: 2%; margin-left:2%">
      <div class="card">
        <img class="card-img-top" src="http://placeimg.com/200/200/tech" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">supporting text</p>
          <p class="card-text"><small class="text-muted">small text</small></p>
        </div>
      </div>
    </div>
      <div class="card" style="margin-top: 2%;">
        <img class="card-img-top" src="http://placeimg.com/200/200/tech" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">supporting text</p>
          <p class="card-text"><small class="text-muted">small text</small></p>
        </div>
      </div>
      <div class="card" style="margin-top: 2%; margin-right:2%">
        <img class="card-img-top" src="http://placeimg.com/200/200/tech" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">supporting text</p>
          <p class="card-text"><small class="text-muted">small text</small></p>
        </div>
      </div>
    </div>

  </div>
</div>